body {
  box-sizing: border-box;
  height: 100svh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: antiquewhite;
  font-family: "DotGothic16", sans-serif;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.controls {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 20px;
}

/* change size */

.size {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.sizeIndicator {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  margin: 0;
}

.slider {
  height: 10px;
  appearance: none;
  cursor: pointer;
  background: transparent;
  border: 2px solid black;
  border-radius: 5px;
}

.slider::-webkit-slider-thumb {
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: black;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: black;
  cursor: pointer;
}

/* buttons */

.btn {
  font-family: "DotGothic16", sans-serif;
  font-size: 1.5rem;
  background-color: transparent;
  cursor: pointer;
  border: 2px solid black;
  transition: 0.1s;
  padding: 10px;
}

.btn:hover {
  background-color: black;
  color: white;
  border: 2px solid white;
}

.canvas {
  width: 640px;
  height: 640px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1px;
  border: 1px solid black;
  background-color: white;
}

.grid {
  transition: background-color 0.2s;
  user-select: none;
  /* box-sizing: border-box;
  border: 1px solid white; */
}

.cta {
  visibility: hidden;
}
