body {
  box-sizing: border-box;
  height: 100svh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: antiquewhite;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.controls {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 20px;
}

.canvas {
  width: 640px;
  height: 640px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1px;
  border: 1px solid black;
  background-color: white;
}

.grid {
  box-sizing: border-box;
  border: 1px solid white;
}

.btn {
  visibility: hidden;
}
